# Notebook to self increment its dataset using .env file

In [1]:
import pandas as pd

df = pd.read_csv("dataset.csv")

df

          name  age
0        felps   20
1         alex   22
2        bruno   24
3      ricardo   34
4        mario   88
5  olokinhomeu   44

In [2]:
import os
from dotenv import load_dotenv

load_dotenv()

NAME = os.getenv('NAME')
AGE = os.getenv('AGE')

print(NAME, AGE)

a 1

In [3]:
new_entry = {'name': [NAME], 'age': [AGE]}

new_entry = pd.DataFrame(new_entry)

df = pd.concat([df, new_entry], ignore_index=True)

df.to_csv('dataset.csv', index=False)

In [4]:
df

          name age
0        felps  20
1         alex  22
2        bruno  24
3      ricardo  34
4        mario  88
5  olokinhomeu  44
6            a   1